.ui-dialog
	position: absolute

.col-icon-expander
	width: 50px
	text-align: center

.ui-datatable
	.ui-datatable-thead > tr > th,
	.ui-datatable-tfoot > tr > td,
	.ui-datatable-data > tr > td
		text-overflow: ellipsis

.ui-helper-clearfix:before,
.ui-helper-clearfix:after,
.ui-tabview-left:after,
.ui-tabview-right:after
	content: none
	clear: none

input[required],
p-inputMask[required] > input
	border-bottom-color: #3c882e
	&.ng-dirty.ng-invalid
		border-bottom-color: #e13131

body
	.ui-tabview
		.ui-tabview-panel
			padding: 0
		.ui-tabview-nav
			li
				display: inline-block
		&.ui-tabview-top
			& > .ui-tabview-nav
				display: block
				height: 36px
				border: none
			.ui-tabview-nav
				li
					border-radius: 0
					top: 0
					margin: 0
					cursor: default
					&.ui-state-active
						a
							cursor: default
