<p-dialog #selectDialog
          [visible]="false"
          showEffect="fade"
          [modal]="true"
          [responsive]="true"
          [resizable]="false"
          [draggable]="false"
          appendTo="body"
          styleClass="PersonSelect__dialog">
	<p-header class="PersonSelect__header">
		Выбор пользователя
	</p-header>
	<div class="PersonSelect__Body">
	
	</div>
</p-dialog>

<p-tabView>
	<p-tabPanel header="Персона">
		
		<create-person></create-person>
	</p-tabPanel>
	<p-tabPanel #userCreate header="Пользователь" [disabled]="!currentPerson">
		Content 2
	</p-tabPanel>
</p-tabView>
