<div class="critical-error-wrapper" [ngStyle]="{'display': criticalVisibility ? 'flex' : 'none'}">
	<div class="critical-error">
		<div class="critical-title">
			{{ criticalTitle }}
		</div>
		<div class="critical-body">
			{{ criticalBody }}
		</div>
	</div>
</div>

<div class="critical-error-wrapper" [ngStyle]="{'display': simpleVisibility ? 'flex' : 'none'}">
	<div class="critical-error">
		<div class="critical-title">
			{{ simpleTitle }}
		</div>
		<div class="critical-body">
			{{ simpleBody }}
		</div>
	</div>
</div>

