<div class="menu-item" (click)="clickHandler($event, item, extendedMenu)">
	<div class="icon">
		<i class="material-icons md-30">{{item.icon}}</i>
	</div>
	<div class="menu-content">
		{{item.name}}
	</div>
</div>

<div #extendedMenu class="menu-item menu-extend collapsed">
	<div class="subItemsBody">
		<div class="icon">
			<i class="material-icons md-30">{{item.icon}}</i>
		</div>
		<div class="menu-content">
			{{item.name}}
		</div>
	</div>
	<div *ngIf="item.subItems !== null && item.subItems.length > 0" class="subItems">
		<ul *ngFor="let columnItems of item.subItems">
			<li *ngFor="let subItem of columnItems" class="sub-item">

				{{subItem.name}}

				<ul *ngIf="subItem.subItems !== null && subItem.subItems.length == 1">
					<li *ngFor="let subSubItem of getCurrentItems(subItem.subItems)" class="sub-sub-item">
						{{ subSubItem.name }}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
