<p-dialog #createDialog [(visible)]="createAreaShowed"
          [modal]="true"
          [responsive]="true"
          [resizable]="false"
          [draggable]="false"
          appendTo="body"
          styleClass="UserCreate__dialog">
	<p-header class="UserCreate__header">
		<div class="UserCreate__header-title">
			Создание пользователя
		</div>
	</p-header>
	<div class="UserCreate__Body">
		<p-tabView (onChange)="handleChange($event)">
			<p-tabPanel header="Персона">
				<div class="">

				</div>
			</p-tabPanel>
			<p-tabPanel header="Пользователь">
				Content 2
			</p-tabPanel>
		</p-tabView>
	</div>
</p-dialog>

<div class="user-create-btn" (click)="onCreateUser()">
	create user
</div>

<p-dataTable
	[value]="users"
	[lazy]="true"
	[paginator]="true"
	[rows]="itemsPerPageCount"
	[totalRecords]="usersCount"
	emptyMessage="Сорямба, пользователей нет."
	(onLazyLoad)="loadUsersLazy($event)">

	<p-column field="name" header="Имя"></p-column>
	<p-column field="surname" header="Фамилия"></p-column>
	<p-column field="middleName" header="Отчество"></p-column>
</p-dataTable>
