<p-dialog #createDialog
          [(visible)]="createAreaShowed"
          showEffect="fade"
          [modal]="true"
          [responsive]="true"
          [resizable]="false"
          [draggable]="false"
          appendTo="body"
          styleClass="UserCreate__dialog">
	<p-header class="UserCreate__header">
		Создание пользователя
	</p-header>
	<div class="UserCreate__Body">
		<p-tabView (onChange)="handleChange($event)">
			<p-tabPanel header="Персона">
				Content 1
			</p-tabPanel>
			<p-tabPanel header="Пользователь">
				Content 2
			</p-tabPanel>
		</p-tabView>
	</div>
</p-dialog>

<div class="user-create-btn" (click)="onCreateUser()">
	create user
</div>


<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
	<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
	<input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable
	class="users-table"
	[globalFilter]="gb"
	[filterDelay]="500"
	[value]="users"
	[lazy]="true"
	[paginator]="true"
	[rows]="itemsPerPageCount"
	[rowsPerPageOptions]="[10,20,50,100,500]"
	[totalRecords]="usersCount"
	[responsive]="true"
	[emptyMessage]="'Пользователей нет.'"
	(onLazyLoad)="loadUsersLazy($event)">
	
	<p-column header="ФИО">
		<ng-template let-user="rowData" pTemplate="body">
			{{ user.surname }} {{ user.name }} {{ user.middleName }}
		</ng-template>
	</p-column>
	<p-column field="group.name" header="Группа" [sortField]="'user.group'" [sortable]="true"></p-column>
</p-dataTable>
